html
    head
        title 모두의 일기장
    body
        h1 
            a(href='/') 모두의 일기장
            if session.nickname
                span=session.nickname
                button(onclick="location.href='/logout'") 로그아웃
            else
                button(onclick="location.href='/join'") 회원가입
                button(onclick="location.href='/login'") 로그인
        table(border='1')
            tr
                th 날짜
                th 제목
                th 작성자

            each post in posts
                tr(onclick=`location.href='/detail/${post.id}'`)
                    td=post.createdAt
                    td=post.title
                    td=post.user.nickname
        if session.nickname
            button(onclick="location.href='/create'") 글쓰기